<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPOTIFY_CLIENT_ID</key>
	<string>YOUR_SPOTIFY_CLIENT_ID</string>
	<key>SPOTIFY_REDIRECT_URI</key>
	<string>https://alexwilks88.github.io/ZunePlayer/callback</string>
</dict>
</plist>
